# TO DO
1. Figure out dataset
2. Break down into individual characters
3. Form corpus from dataset for input and output characters
4. Assign a number to each character
5. Model will have an embedding so it will handle it
6. Output will be a bunch of integers so we will have to decode it

In [3]:
import tarfile
import os
import pandas as pd

In [4]:
!wget -nc https://storage.googleapis.com/gresearch/dakshina/dakshina_dataset_v1.0.tar

if not os.path.isdir('/content/dakshina_dataset_v1.0'):
  tarfile.open("/content/dakshina_dataset_v1.0.tar").extractall()

--2021-04-21 13:20:48--  https://storage.googleapis.com/gresearch/dakshina/dakshina_dataset_v1.0.tar
Resolving storage.googleapis.com (storage.googleapis.com)... 172.217.7.144, 172.217.13.240, 172.217.164.176, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|172.217.7.144|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2008340480 (1.9G) [application/x-tar]
Saving to: ‘dakshina_dataset_v1.0.tar’

dakshina_dataset_v1 100%[===================>]   1.87G  90.8MB/s    in 12s

2021-04-21 13:21:01 (153 MB/s) - ‘dakshina_dataset_v1.0.tar’ saved [2008340480/2008340480]

# Loading Data

In [54]:
class data_loader():

  @staticmethod
  def load_devanagiri():
    lex = dict()
    lex['train'], lex['val'], lex['test'] = [], [], [] 
    column_names = ['devanagiri', 'transliteration', 'count']

    languages = ['hi', 'mr']
    
    for la in languages:
      lex['train'].append(pd.read_csv('/content/dakshina_dataset_v1.0/'+la+'/lexicons/'+la+'.translit.sampled.train.tsv', sep='\t', header=None, names=column_names))
      lex['val'].append(pd.read_csv('/content/dakshina_dataset_v1.0/'+la+'/lexicons/'+la+'.translit.sampled.dev.tsv', sep='\t', header=None, names=column_names))
      lex['test'].append(pd.read_csv('/content/dakshina_dataset_v1.0/'+la+'/lexicons/'+la+'.translit.sampled.test.tsv', sep='\t', header=None, names=column_names))

    lex['train'] = pd.concat(lex['train'])
    lex['val'] = pd.concat(lex['val'])
    lex['test'] = pd.concat(lex['test'])

    return lex    

  @staticmethod
  def make_devanagiri_dataset(lex):
    
    for div in ['train', 'val', 'test']:
    
      # removing non max transliterations
      idx = lex[div].groupby(['devanagiri'])['count'].transform(max) == lex[div]['count']
      lex[div] = lex[div][idx].reset_index(drop=True)

      # calclulating difference in lengths of various transliterations
      lex[div]['devanagiri_len'] = lex[div].apply(lambda x: len(str(x['devanagiri'])), axis=1)
      lex[div]['transliteration_len'] = lex[div].apply(lambda y: len(str(y['transliteration'])), axis=1)
      lex[div]['mod_dif'] = lex[div].apply(lambda z: abs(z['transliteration_len'] - z['devanagiri_len']), axis=1) 

      # removing transliterations that vary by a lot in length
      idx = lex[div].groupby(['devanagiri'])['mod_dif'].transform(min) == lex[div]['mod_dif']
      lex[div] = lex[div][idx].reset_index(drop=True)

      # removing duplicates if any remain
      lex[div].drop_duplicates(subset='devanagiri', keep='first', inplace=True)

      # removing redundant columns
      lex[div].drop(labels=['count', 'transliteration_len', 'devanagiri_len', 'mod_dif'], inplace=True, axis=1)

    return lex

In [55]:
lex = data_loader.load_devanagiri()
lex = data_loader.make_devanagiri_dataset(lex)

In [56]:
df = lex['train']

# Dataset Generation

In [ ]:
class tokenizer:

  def __init__():

    self.input_corpus = None
    self.output_corpus = None
  
  # takes in lists of words and returns lists of integers
  def tokenize(mode='input'):

    pass 
  # takes in lists of integers and returns lists of words
  def decoder(mode='input'):

    pass

# Question 1

In [ ]:
class rnn():

  def __init__(self, params):
    pass

  def compile_and_fit():
    pass

In [ ]:
params = {
    
}

# Romanized

In [6]:
ta_rom = dict()
ta_rom['rejoined'] = pd.read_csv('/content/dakshina_dataset_v1.0/ta/romanized/ta.romanized.rejoined.tsv', sep='\t', header=None, error_bad_lines=False)
ta_rom['rejoined_aligned_cased'] = pd.read_csv('/content/dakshina_dataset_v1.0/ta/romanized/ta.romanized.rejoined.aligned.cased_nopunct.tsv', sep='\t', header=None, error_bad_lines=False) 
ta_rom['rejoined_aligned'] = pd.read_csv('/content/dakshina_dataset_v1.0/ta/romanized/ta.romanized.rejoined.aligned.tsv', sep='\t', header=None, error_bad_lines=False)
ta_rom['split'] = pd.read_csv('/content/dakshina_dataset_v1.0/ta/romanized/ta.romanized.split.tsv', sep='\t', header=None, error_bad_lines=False)

b'Skipping line 1096: expected 2 fields, saw 3\nSkipping line 1581: expected 2 fields, saw 3\n'
b'Skipping line 33794: expected 2 fields, saw 3\nSkipping line 33795: expected 2 fields, saw 3\nSkipping line 33796: expected 2 fields, saw 3\nSkipping line 33798: expected 2 fields, saw 3\nSkipping line 33799: expected 2 fields, saw 3\nSkipping line 33801: expected 2 fields, saw 3\nSkipping line 33802: expected 2 fields, saw 3\nSkipping line 33803: expected 2 fields, saw 3\n'
b'Skipping line 11317: expected 2 fields, saw 4\nSkipping line 16502: expected 2 fields, saw 4\nSkipping line 32577: expected 2 fields, saw 3\nSkipping line 32578: expected 2 fields, saw 3\nSkipping line 32579: expected 2 fields, saw 3\nSkipping line 32581: expected 2 fields, saw 3\nSkipping line 32582: expected 2 fields, saw 3\nSkipping line 32584: expected 2 fields, saw 3\nSkipping line 32585: expected 2 fields, saw 3\nSkipping line 32586: expected 2 fields, saw 3\n'
b'Skipping line 1108: expected 7 fields, saw 9\nSkipping line 1597: expected 7 fields, saw 9\n'

In [15]:
list(ta_rom['rejoined'].iloc[0, 0])[:10]

['ர', 'ே', 'ட', 'ி', 'ய', 'ோ', ' ', 'அ', 'த', 'ி']

In [8]:
ta_rom['rejoined_aligned_cased']

                  0            1
0            ரேடியோ        radio
1         அதிர்வெண்     athirven
2       முடுக்கிகள்   mudikkigal
3          துகள்கள்    thugalkal
4          நேரடியாக   neradiyaga
...             ...          ...
104779   இவ்விதழின்  ivvithazhin
104780         விலை        vilai
104781       ரூபாய்      roobaay
104782         1.00         1.00
104783         </s>         </s>

[104784 rows x 2 columns]

In [9]:
ta_rom['rejoined_aligned']

                   0            1
0             ரேடியோ        Radio
1          அதிர்வெண்     athirven
2       முடுக்கிகள்,  mudikkigal,
3           துகள்கள்    thugalkal
4           நேரடியாக   neradiyaga
...              ...          ...
103538    இவ்விதழின்  ivvithazhin
103539          விலை        vilai
103540        ரூபாய்      roobaay
103541          1.00         1.00
103542          </s>         </s>

[103543 rows x 2 columns]

In [10]:
ta_rom['split']

                                                      0   1  ...   5    6
0     ரேடியோ அதிர்வெண் முடுக்கிகள், துகள்கள் நேரடியா...   6  ... NaN  NaN
1     மான் விளையாடிக்கொண்டு வந்து உன்னை மோதினால் உன்...  21  ... NaN  NaN
2                                             அமிர்தகழி   1  ... NaN  NaN
3     மோகன் லால் குப்தா ஜெய்ப்பூரின் முன்னாள் மேயராக...  12  ... NaN  NaN
4                      தில்லி மாநில கூட்டுறவு வங்கி லி.   5  ... NaN  NaN
...                                                 ...  ..  ...  ..  ...
9982  என்றாலும் வில்லியம் இறந்த பிறகான கரோலினின் பணி...  27  ... NaN  NaN
9983  தொல்பொருளியல் அச்சகம் (Archaeopress) என்பது இங...  14  ... NaN  NaN
9984  மலைய நாட்டு மன்னனை மலாடர் கோமான் என்று சங்கப்ப...   8  ... NaN  NaN
9985  அப்படையின் தொகை மிக அருகி இருந்ததோடு, அதனிடம் ...  12  ... NaN  NaN
9986  தொண்டன் இலங்கை, திருகோணமலையிலிருந்து 1970ம் ஆண...  15  ... NaN  NaN

[9987 rows x 7 columns]